body{
background:blue;
}
.board{
background:lightblue;
width:300px;
height:100px;
}
.btn-primary{
background:green;
color:white;
border:1px solid black;
border-radius:5px;
margin:1px;
}
.btn-warn{
background:red;
color:white;
border:1px solid black;
border-radius:5px;
margin:1px;
}
.btn-save{
background:blue;
color:white;
border:1px solid black;
border-radius:5px;
margin:1px;
}
.bigBoard{
background:black;
width:350px;
padding: 20px;

}